@model PlayerViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row g-0 card flex-md-row">
    <form class="col-lg-9 d-flex flex-column" asp-action="Create" enctype="multipart/form-data">
        <partial name="Shared/_PlayerEditForm" />

        <div class="card-footer navigation">
            <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            <a asp-action="Index" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>

    <div class="col-lg-3">
        <partial name="Shared/_ImageContainer" />
    </div>
</div>

<script src="~/js/editor.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
